
<head bgcolor=#dddddd>
  <title>Formulario de Contacto</title>
</head>
<body bgcolor=#dddddd >
  <h1>Formulario de Contacto</h1>
  <form>
    <label for="email" >Correo electrónico: </label>
    <input type="email" id="email" name="email" [(ngModel)]="correo" required><br>

    <label for="direccion" >Dirección: </label><br>
    <textarea id="direccion" name="direccion" [(ngModel)]="direccion" rows="4" cols="50"></textarea><br>

    <label for="telefono" >Teléfono: </label>
    <input type="tel" id="telefono" [(ngModel)]="telefono" name="telefono"><br>
    <br>
    <label for="ciudad">Ciudad: </label>
    <select id="ciudad" name="ciudad" [(ngModel)]="ciudad">
      <option value="Madrid">Madrid</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Malaga">Málaga</option>
    </select><br><br>

    <label >Forma de Pago:</label><br>
    <input type="radio" id="efectivo" name="forma-pago" value="efectivo" [(ngModel)]="formadepago">
    <label for="efectivo">Efectivo</label><br>

    <input type="radio" id="tarjeta" name="forma-pago" value="tarjeta" [(ngModel)]="formadepago">
    <label for="tarjeta">Tarjeta</label><br>

    <input type="radio" id="contra-reembolso" name="forma-pago" value="contra-reembolso" [(ngModel)]="formadepago">
    <label for="contra-reembolso">Contra-Reembolso</label><br><br>

    <input type="checkbox" id="acepta" name="acepta" required [(ngModel)]="aceptar">
    <label for="acepta" >Acepto los términos y condiciones.</label><br><br>

    <input type="submit" value="Enviar" (click)="reconoceCosas()">
    <br>
    <p>RESULTADO: </p><p>{{texto}}</p><br>
  </form>
</body>
